<?xml version="1.0"?>
<!--
/**
 * Teleb Contact di
 *
 * @category  Teleb
 * @package   Teleb\Contact
 * @author    Tetiana Lebed <teleb@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Teleb\Contact\Api\Data\QuestionInterface" type="Teleb\Contact\Model\Question" />
    <preference for="Teleb\Contact\Api\Data\QuestionSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Teleb\Contact\Api\QuestionRepositoryInterface" type="Teleb\Contact\Model\QuestionRepository" />

    <type name="Magento\Contact\Controller\Index\Post">
        <plugin name="teleb_before_contact_post_execute_plugin" type="Teleb\Contact\Plugin\Controller\Index\BeforeContactPostExecute"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="teleb_contact_question_listing_data_source" xsi:type="string">Teleb\Contact\Model\ResourceModel\Question\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Teleb\Contact\Model\ResourceModel\Question\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">teleb_contact_question</argument>
            <argument name="eventPrefix" xsi:type="string">teleb_contact_question_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">contact_question_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Teleb\Contact\Model\ResourceModel\Question</argument>
        </arguments>
    </type>

    <virtualType name="TelebContactQuestionGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Teleb\Contact\Api\Data\QuestionInterface" xsi:type="string">Teleb\Contact\Api\QuestionRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Teleb\Contact\Api\Data\QuestionInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">teleb_contact_question</item>
                    <item name="identifierField" xsi:type="string">id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="Teleb\Contact\Api\Data\QuestionInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
</config>
